.searchBar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  .searchInput {
    width: 500px;
    height: 30px;
    background-color: white;
    color: black;
  }

  .searchButton {
    width: 80px;
    height: 100%;
  }

  .dropDown {
    display: flex;
    align-items: center;
    gap: 8px;

    .pageSize {
      width: 50px;
      height: 30px;
    }
  }
}
