.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;

  .membersSection {
    width: 60%;
    display: flex;
    flex-direction: column;

    gap: 12px;
  }
}
