.overviewContainer {
  inline-size: 40%;
  block-size: 100%;
  border: 1px solid black;

  .taskDetailsContainer {
    inline-size: 100%;
    padding: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .taskDetails {
      font-size: 24px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}
