.taskManagerContainer {
  inline-size: 90%;
  block-size: 60%;
  border: 1px solid black;

  .taskContainer {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-block-start: 24px;
    gap: 16px;
    padding-inline: 12px;

    .taskSection {
      inline-size: 80%;
      block-size: 80%;
      padding: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .inputBox {
        inline-size: 100%;
      }
    }

    .filterSection {
      inline-size: 10%;
      block-size: 40%;
      padding-inline: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      border: 1px solid black;
    }
  }
}
