.checkboxRoot {
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;

  .checkboxBox {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .checkmark {
      color: black;
      font-size: 14px;
    }
  }

  .label {
    font-size: 20px;
    font-weight: 600;
  }
}
