.inputBoxContainer {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .inputField,
  .addTaskButton {
    block-size: 30px;
    color: black;
    background-color: white;
  }

  .inputField {
    inline-size: 90%;
    border-radius: 8px;
  }

  .addTaskButton {
    inline-size: 6%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
