.item {
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 14px;

  .checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .label {
    font-size: 20px;
  }
}
